body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 140px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    border-bottom: 6px solid #4A646D;
    background-color: #E0F1FC;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.titles {
    color: #4A646D;
    text-align: left;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #4A646D;
    box-shadow: 0 3px 5px 0 #4A646D;
     transition: box-shadow 0.3s ease-in-out;
}

.avatar:hover {
    box-shadow: 0 5px 15px 2px #4A646D;
    animation: 3s rotate infinite;
}

@keyframes rotate {
    30% {transform: rotate(15deg);
}